html {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
}

.card {
    width: 25rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    border-radius: 1rem;
}

.card-text {
    margin: 1rem;
    text-align: center;
}

.card-heading {
    font-size: 2rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.card-description {
    font-size: 1.225rem;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

@media only screen and (max-width: 425px) {
    .card {
        min-width: 270px;
        padding: 1rem;
        margin: 1rem;
    }
    .card-heading {
        font-size: 1.7rem;
    }
}